<p>
<% unless logged_in? -%>
  <%= link_to "Login", login_path %>
  <%= link_to "Signup", signup_path %>
<% else -%>
  <%= link_to "Logout", logout_path %>
<% end -%>
</p>

<ul>
  <% for user in @users -%>
    <li><%= link_to user.username, user %></li>
  <% end -%>
</ul>
