//@import "compass/reset";
@import "fancy-buttons";
@import "compass/css3/box-shadow";
@import "compass/utilities/print";

@mixin serif {
  font-family: Georgia, "Times New Roman", serif;
}
@mixin sans-serif {
  font-family: Helvetica, Arial, sans-serif;
}

* { margin: 0; padding: 0; }

.hidden {
  position: absolute; left: -9999px; /* screen-reader accessible hiding */
}
.totally-hidden { display: none; }
.right { float: right; }
.left { float: left; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.serif { @include serif; }

body {
  @include sans-serif;
  background: #fff1b5; color: #000;
  font-size: 14px; line-height: 24px;
}

#wrapper {
  @include box-shadow(0 0 20px #e8c635);
  background: #fff;
  width: 700px; margin: 20px auto; padding: 30px 20px 10px;
}

h1, p, table, #lessons, .flash, .actions, .new_vocable, .errorExplanation {
  margin-bottom: 20px;
}

h1, h2, h3 { @include serif; font-weight: normal; }
h4, h5, h6 { font-size: inherit; }

#header {
  overflow: hidden; line-height: 42px;
  position: relative;
  h1 {
    font-size: 32px;
    float: left; width: 500px;
    &.full-width { width: 100%; }
    .type { color: #888; }
  }
  #header-right { float: right; width: 200px; text-align: right; }
}

.flash {
  padding: 4px 8px;
  &.error { background: #fdd; border-color: #faa; }
  &.notice { background: #ddf; }
  &.success { background: #afa; border-color: #dfd; }
}

#lessons {
  list-style: none;
  li.lesson {
    font-size: 18px;
    padding: 10px;
    border-top: 1px solid #aaa;
  }
}

.errorExplanation {
  font-size: 14px;
  background: #fcc;
  padding: 10px;
  h4 {}
  ul { margin-left: 20px; }
}

.button {
  @include fancy-button(#1b6896, 16px);
}
.delete-button {
  @include fancy-button(#d22, 13px);
}
.delete-link {
  color: #d22;
  &:hover { text-decoration: none; }
}

form {
  input { padding: 2px 4px; }
  .field_with_errors { display: inline-block; }
  input, form label { margin-right: 5px; }
}
form.new_vocable {
  input[type=text] { width: 225px; }
}

.vocables {
  width: 100%; border-spacing: 0;
  
  td, th { padding: 0 6px; }
  th { text-align: left; }
  thead {
    font-size: 15px; line-height: 30px;
    tr { background: #666; color: #fff; }
  }
  tbody {
    font-size: 13px; line-height: 25px;
    tr:nth-child(odd) { background: #fff; }
    tr:nth-child(even) { background: #ccc; }
  }
}

// specific elements
#header #outer-404 {
  font-size: 250px; line-height: 250px;
  margin: -40px 0 60px;
  text-align: center;
}
#inner-404 {
  @include serif;
  position: absolute;
  left: 255px; top: 180px;
  margin: 0;
}

@media screen {
  @include print-utilities(screen);
}

@media print {
  @include print-utilities;
}
