<% lesson = @vocable.lesson -%>

<% content_for :header do -%>
  <h1><%= raw breadcrumb([lesson.user.username, lesson.user], [lesson.name, user_lesson_path(lesson.user, lesson)], "Test") %></h1>
<% end -%>

<%= form_for [lesson.user, lesson, @vocable], :url => check_user_lesson_vocable_path(lesson, @vocable), :html => { :class => 'ask_vocable' } do |f| -%>
  <%= f.label :foreign, raw("Translate <b>“#{@vocable.translation}”</b>") %>
  <%= f.text_field :foreign, :placeholder => 'Translation', :value => '', :autofocus => true %>
<% end -%>
