<% title "404" -%>

<% content_for :header do -%>
  <h1 id="outer-404" class="full-width">404</h1>
  <p id="inner-404"><span lang="en">Not found</span> &middot; <span lang="de">nicht gefunden</span> &middot; <span lang="fr">non trouvé</span></p> 
<% end -%>
